/* Box Model Hack */
*{
  box-sizing: border-box;
}

@font-face {
    font-family: 'Potter';
    src: url('../fonts/HARRYP__.TTF');
}

@font-face {
    font-family: 'Wizarding-World';
    src: url('../fonts/WizardWorldSimplified-Kxr7.ttf');
}

@font-face {
    font-family: 'Bluu Next Bold';
    src: url(../fonts/BluuNext-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Bluu Next Tilt';
    src: url(../fonts/BluuNext-Titling.otf) format('opentype');
}
/*
================= Base Styles =================
*/

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background: #10141b;
    color: white;
}

a {
    text-decoration: none;
    color: #fdcc18;
}

/*
================= Layout Styles =================
*/

/*
================= Additional Styles =================
*/

/* ------------- header ------------- */

.header-logo-container {
    display: flex;
}


#header {
    background: #242633;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1.5rem 6rem;
}

#logo {
    width: 6rem;
}

.motto {
    color: #65656d;
    font-size: 1.2rem;
}

.header-list {
    display: flex;
    font-size: 1.5rem;
}

.header-list li{
    padding: 0 2rem;
}

.last {
    padding-right: 0;
}


/* ------------- project info ------------- */

.project-info {
    background: url(../images/hogwarts.jpg);
    background-position: center;
    background-size: cover;
    font-family: 'Bluu Next Tilt';
    text-align: center;
    padding: 16rem 0;
}

#info-logo {
    width: 30rem;
}

.title {
    margin: 2rem 0 1rem 0;
    font-size: 6rem;
}

.info {
    font-size: 3rem;
}

#info-logo,
.title,
.info {
    text-shadow: .2rem .2rem .5rem #000000;
}


/*
--------------- wizards ---------------
*/

#form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

#search-label {
    font-size: 2rem;
    margin-right: 2rem;
}

#search-wizards {
    padding: 1rem 7rem 1rem 1.5rem;
    border-radius: .5rem;
    border: none;
}

#wizards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.wizard-info {
    margin: 1rem;
    flex-basis: 27%;

    padding: .3rem;
    background: linear-gradient(45deg, #fc8635 40%, #fece23);
    border-radius: .5rem;
}

.wizard-text {
    font-family: 'Wizarding-World';
}

.wizard-image {
    position: relative;
}

.image {
    margin: auto 0;
    height: 15rem;
    border-radius: .5rem;
}

.unknown-image {
    display: none;
}

.gryffindor-image,
.slytherin-image,
.hufflepuff-image,
.ravenclaw-image {
    position: absolute;
    left: -1rem;
    bottom: -1rem;
    width: 3.5rem;
}

.name {
    font-family: 'Potter';
    font-size: 3.5rem;
    color: white;
}

.house-name {
    font-size: 1.5rem;
    margin-top: .5rem;
}

/* Wand */
.wand-title {
    font-size: 1.3rem;
    margin: 2rem 0 .5rem 0;
}
.wand-title,
.wand {
    font-family: 'Bluu Next Bold';
    color: rgb(160, 160, 160);
}

/* Houses */

.gryffindor,
.slytherin,
.ravenclaw,
.hufflepuff,
.unknown {
    /* height: 15rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .5rem;
    min-height: 20rem;
    padding: 3rem;

    background: #10141b;
    color: #fece23;
}